<!DOCTYPE html>
<html>
<head>
	<title>Retro</title>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<h1>New Alert</h1>
	<form action="/submit_new" method="post">
		<label for="priority">Priority Rating: </label>
		<select id="priority" name="priority" onchange="savePriority()">
			<option value="high">High</option>
			<option value="medium">Medium</option>
			<option value="low">Low</option>
		</select><br>
		<label for="repeat">Repeat Issue: </label>
		<select id="repeat" name="repeat" onchange="saveRepeat()">
			<option value="yes">Yes</option>
			<option value="no">No</option>
		</select><br>
		<label for="app-team">Application Team:</label>
		<select id="app-team" name="app-team" onchange="bothScripts()">
			<option value="pretrade">PreTrade</option>
			<option value="executions">Executions</option>
			<option value="intraday">Intraday Risk</option>
			<option value="eod">EOD</option>
		</select><br>

		<label for="impacted-app">Impacted Application:</label>
		<select id="impacted-app" name="impacted-app" onchange="saveApp()"></select><br>

		<label for="desc">Brief Description:</label><br>
		<input type="email" id="desc" name="email"><br>
		<label for="biz-impact">Business Impact:</label><br>
		<input type="tel" id="bizimpact" name="phone"><br>
		<label for="impacted-users">Impacted Users:</label><br>
		<input type="email" id="users" name="email"><br>
		<label for="update">Latest Update:</label><br>
		<input type="tel" id="update" name="phone"><br>
		
	</form>
	<button type="submit" value="Submit" onclick="printVariables()">Button</button>
	<div id="output"></div>
</body>
<script src="js/script.js"></script>
</html>
